.DS_Store
*.lnk
/Application/Runtime
._*
Desktop.ini
/out
/target
/.idea
*.iml
/temp
/tmp
/Uploads
/Upload
/uploads
/upload
student-vue
**/*.mkm
./student/vue-student/build.js
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
*.classpath
*.project
/.settings