<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.ioe.zhy.dao.ProjectDao">

    <insert id="addProject" parameterType="com.ioe.zhy.entity.Project">
        insert into t_project_record(record_id,category,content,result,status
        ,create_time,powerClient_id,electrician_id,service_company_id)
        values(#{record_id},#{category},#{content},#{result},
        #{status},#{create_time},#{powerClient_id},#{electrician_id},#{service_company_id})
</insert>
    <update id="updateProject" parameterType="com.ioe.zhy.entity.Project">
        UPDATE t_project_record SET category=#{category},content=#{content},result=#{result},status=#{status}
        ,powerClient_id=#{powerClient_id},electrician_id=#{electrician_id},service_company_id=#{service_company_id}
        WHERE record_id=#{record_id}
    </update>
    <select id="getProjrct" parameterType="String" resultType="com.ioe.zhy.entity.Project">
        SELECT * FROM t_project_record WHERE record_id=#{powerClientId}
    </select>


</mapper>