<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
        
 <mapper namespace="com.ioe.zhy.dao.RrepairTaskDao">
 	<insert id="addTask" parameterType="com.ioe.zhy.entity.RrepairTask">
 	insert into t_repair_task(task_id,order_id,sender,send_time,need_powerOff,powerOff_time,
 	sys_hash,sys_create_time) values(#{task_id},#{order_id},#{sender},#{send_time},
 	#{need_powerOff},#{powerOff_time},#{sys_hash},#{sys_create_time})
 	</insert>
 
 	 <!-- 获取最新的任务id -->
     <select id="getNewstaskIdByOrderId" parameterType="String" resultType="String">
     select task_id from t_repair_task t where not exists(select 1 from t_repair_task c where c.send_time>t.send_time )  and order_id=#{order_id} and sys_record_status=0
     </select>   
        
 </mapper>