<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
  <mapper namespace="com.ioe.zhy.dao.WatchRecordDao">
  
  <!-- 添加值班记录集合 -->
  	<insert id="addWatchRecordList" parameterType="com.ioe.zhy.entity.WatchRecord">
  	insert into t_watch_record(record_id,watcher_id,plan_id,is_leader,content)  
 	values
 	<foreach collection="list" item="item"  index="index" separator=",">
 	(#{item.record_id},#{item.watcher_id},#{item.plan_id},#{item.is_leader},#{item.content})
 	</foreach>
  	</insert>
  	
  	<!-- 更改值班人员的是否领导 -->
  	<update id="changeWatchLeaderById">
  	update t_watch_record set     is_leader=#{is_leader}       where plan_id=#{plan_id} and  watcher_id=#{watcher_id}
  	</update>
  	
  	<!-- 根据值班id删除值班记录 -->
  	<update id="deleteWatchRecordByPlanId" parameterType="String">
  	update t_watch_record  set sys_record_status=1 where plan_id=#{plan_id};
  	</update>
  	
  	<!--根据值班id获取普通值班人员 -->
  	<select id="getWatchersByPlanId"  parameterType="String" resultType="String">
  		select  watcher_id from t_watch_record where plan_id=#{plan_id} and is_leader=0 and sys_record_status=0
  	</select>
  	
  	<!--根据值班id获取值班领导 -->
  		<select id="getWatchRecordByPlanId"  parameterType="String" resultType="com.ioe.zhy.entity.WatchRecord">
  		select  * from t_watch_record where plan_id=#{plan_id} and is_leader=1 and sys_record_status=0
  	</select>
  	
  	<!-- 批量删除指定值班记录下的人员 -->
  	<update id="deleteWatchRecordList" parameterType="map">
  	update t_watch_record set sys_record_status=1 where plan_id=#{plan_id} and  watcher_id in
  	<foreach collection="list" open="(" separator="," close=")"  item="model">
  		#{model}
  	</foreach>
  	</update>
  	
  	
	<!-- 接班 -->
	<update id="beginWatch">
	update t_watch_record set start_time=#{start_time} where plan_id=#{plan_id} and  watcher_id=#{watcher_id}
	</update>
  	
  	<!-- 交班 -->
  	<update id="completeWatch">
	update t_watch_record set end_time=#{end_time},content=#{content} where plan_id=#{plan_id} and  watcher_id=#{watcher_id}
	</update>
  	
  	
  </mapper>